node-red/GA.txt
[{"id":"6df53e9b.3c517","type":"http in","z":"61e8862b.0a15c8","name":"","url":"/postDevice","method":"post","swaggerDoc":"","x":146.8958282470703,"y":176.88888549804688,"wires":[["64226352.fd9e5c"]]},{"id":"64226352.fd9e5c","type":"function","z":"61e8862b.0a15c8","name":"create_data_contentInstance","func":"msg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\nmsg.url = \"http://127.0.0.1:8\"+msg.payload.hospital+\"8\"+msg.payload.hospital+\"/om2m/gscl\"+msg.payload.hospital+\"/applications/DEVICE_\"+msg.payload.device+\"/containers/DATA/contentInstances\";\n\nmsg.payload = `<obj>\n     <str name=\"appId\" val=\"DEVICE_`+msg.payload.device+`\"/>\n     <str name=\"category\" val=\"Device\"/>\n     <int name=\"unit\" val=\"int\"/>\n     <int name=\"quantity\" val=\"`+msg.payload.quantity+`\"/>\n     <int name=\"status\" val=\"`+msg.payload.d_status+`\"/>\n</obj>`;\nreturn msg;","outputs":1,"noerr":0,"x":397.8958168029785,"y":176.88889002799988,"wires":[["a040a6a4.440348"]]},{"id":"a040a6a4.440348","type":"http request","z":"61e8862b.0a15c8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":617.8958168029785,"y":176.88889002799988,"wires":[["45fe8df2.56a154","33b008cf.8dfbe8"]]},{"id":"45fe8df2.56a154","type":"debug","z":"61e8862b.0a15c8","name":"","active":false,"console":"false","complete":"false","x":824.8958282470703,"y":195.8889036178589,"wires":[]},{"id":"33b008cf.8dfbe8","type":"http response","z":"61e8862b.0a15c8","name":"","x":807.8958206176758,"y":152.8888931274414,"wires":[]},{"id":"de4be1e4.90c","type":"template","z":"61e8862b.0a15c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<h1>Device Control</h1>\n\n<form action=\"/postDevice\" method=\"post\" target=\"my_iframe\">\n<h3>診所: \n    <select name=\"hospital\">\n    　<option value=\"1\">松柏復健科診所</option>\n    　<option value=\"2\">徐上德復健科診所</option>\n    　<option value=\"3\">芳山復健科診所</option>\n    　<option value=\"4\">澤康復健科診所</option>\n    　<option value=\"5\">九翌復健科診所</option>\n    　<option value=\"6\">東安復健診所</option>\n    </select><br><br>\n    裝置: \n    <select name=\"device\">\n    　<option value=\"A\">DEVICE_A</option>\n    　<option value=\"B\">DEVICE_B</option>\n    　<option value=\"C\">DEVICE_C</option>\n    　<option value=\"D\">DEVICE_D</option>\n    　<option value=\"E\">DEVICE_E</option>\n    　<option value=\"F\">DEVICE_F</option>\n    </select><br><br>\n    數量: <input type=\"number\" name=\"quantity\" min=\"1\"><br><br>\n    狀態: <input type=\"radio\" name=\"d_status\" value=\"1\"> on\n          <input type=\"radio\" name=\"d_status\" value=\"0\"> off<br><br>\n    <!--花費: <input type=\"text\" name=\"cost\"><br>\n    等級: <input type=\"text\" name=\"level\"><br>-->\n    <input type=\"submit\"/>\n</h3>\n</form>\n\n<iframe name=\"my_iframe\" src=\"/test\" width=\"100%\" height=\"50%\"></iframe>\n</html>","x":323.73264503479004,"y":89.37534475326538,"wires":[["fdf18369.a10d8","5a7ef3b6.afdfdc"]]},{"id":"6b9bc389.08f7ec","type":"http in","z":"61e8862b.0a15c8","name":"","url":"/device_control","method":"get","swaggerDoc":"","x":151.72557067871094,"y":87.98983955383301,"wires":[["de4be1e4.90c"]]},{"id":"fdf18369.a10d8","type":"debug","z":"61e8862b.0a15c8","name":"","active":false,"console":"false","complete":"false","x":513.7256546020508,"y":109.10105276107788,"wires":[]},{"id":"5a7ef3b6.afdfdc","type":"http response","z":"61e8862b.0a15c8","name":"","x":492.73249435424805,"y":65.72245121002197,"wires":[]}]