node-red/NA.txt
[{"id":"f0aac1f3.f1e25","type":"http in","z":"4f475ac5.eefee4","name":"POST Patient","url":"/postPatient","method":"post","swaggerDoc":"","x":136.00001525878906,"y":1203.0001220703125,"wires":[["4f28da06.bbf2e4"]]},{"id":"4f28da06.bbf2e4","type":"function","z":"4f475ac5.eefee4","name":"symptom","func":"\n//android\nvar data = JSON.parse(msg.payload);\nmsg.symptom = data.symptom;\nmsg.prefer = data.prefer;\nmsg.lat_lng = data.lat_lng;\n\nmsg.topic=\"Select * FROM disease Where symptom =\\\"\"+data.symptom+\"\\\"\";\n\n\n/*\n//postman\nmsg.symptom = msg.payload.symptom;\nmsg.prefer = msg.payload.prefer;\nmsg.topic=\"Select * FROM disease Where symptom =\\\"\"+msg.symptom+\"\\\"\";\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":299.00003814697266,"y":1204.000171661377,"wires":[["632b3f71.47e13"]]},{"id":"eb8d291a.38a168","type":"http response","z":"4f475ac5.eefee4","name":"","x":887.0001602172852,"y":1480.0001583099365,"wires":[]},{"id":"632b3f71.47e13","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":468.00003814697266,"y":1205.0001711845398,"wires":[["bb155e3e.f24b8"]]},{"id":"bb155e3e.f24b8","type":"switch","z":"4f475ac5.eefee4","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":130.0000228881836,"y":1276.0001726150513,"wires":[["ee0f2269.33804"],["e5908eef.9a6a5"]]},{"id":"ec232ca.860d3d","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"payload","x":1072.0001602172852,"y":1504.0001592636108,"wires":[]},{"id":"b1526cf3.bc5a1","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":583.9999961853027,"y":1271.0002613067627,"wires":[["b50b1dbe.28d25"]]},{"id":"f1db50aa.84a78","type":"function","z":"4f475ac5.eefee4","name":"","func":"var data = msg.result_data;\n\n//sort\nif (msg.prefer == \"distance\" ){\n    for(var i=0; i<data.length; i++){\n        for(var j=1; j<data.length-i; j++){\n            if(data[i].distance > data[i+j].distance){\n                var tmp = data[i];\n                data[i] = data[i+j];\n                data[i+j] = tmp;\n            }\n        }\n    }\n}\n\nmsg.payload = {\n    \"disease_name\" : msg.disease_name,\n    \"device_name\" : msg.device_name,\n    \"similartity\" : msg.similartity,\n    \"data\" : msg.result_data\n};\nreturn msg;","outputs":1,"noerr":0,"x":713.0001602172852,"y":1505.0001583099365,"wires":[["eb8d291a.38a168","ec232ca.860d3d"]]},{"id":"ee0f2269.33804","type":"function","z":"4f475ac5.eefee4","name":"100%","func":"msg.disease_name = msg.payload[0].disease_name;\nmsg.device_name = msg.payload[0].device_name;\nmsg.similartity = \"100\";\n\nreturn msg;","outputs":1,"noerr":0,"x":267.99999237060547,"y":1270.0002059936523,"wires":[["e975574f.6efe18"]]},{"id":"9ff09603.a11ba8","type":"google directions","z":"4f475ac5.eefee4","name":"","googleAPI":"","origin":"","destination":"","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"","units":"","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":719.0002212524414,"y":1387.0001831054688,"wires":[["5a3b8e53.e0f74"]]},{"id":"b50b1dbe.28d25","type":"function","z":"4f475ac5.eefee4","name":"result_data","func":"msg.result_data = msg.payload;\nmsg.data_length = 0;\nreturn msg;","outputs":1,"noerr":0,"x":752.0000686645508,"y":1275.000340461731,"wires":[["42e2f399.604efc"]]},{"id":"afd80157.59fc7","type":"switch","z":"4f475ac5.eefee4","name":"","property":"data_length","propertyType":"msg","rules":[{"t":"lt","v":"result_data.length","vt":"msg"},{"t":"eq","v":"result_data.length","vt":"msg"}],"checkall":"true","outputs":2,"x":571.0001602172852,"y":1497.0001583099365,"wires":[["42e2f399.604efc"],["f1db50aa.84a78"]]},{"id":"42e2f399.604efc","type":"function","z":"4f475ac5.eefee4","name":"location","func":"//msg.origin = \"22.997108, 120.221494\";\nmsg.origin = msg.lat_lng;\nmsg.destination  = msg.result_data[msg.data_length].location;\nreturn msg;","outputs":1,"noerr":0,"x":541.0001811981201,"y":1387.0001583099365,"wires":[["9ff09603.a11ba8","665f1990.ff78d8"]]},{"id":"7a621ddb.d0ce54","type":"debug","z":"4f475ac5.eefee4","name":"","active":false,"console":"false","complete":"false","x":1113.0003395080566,"y":1389.0005073547363,"wires":[]},{"id":"5a3b8e53.e0f74","type":"function","z":"4f475ac5.eefee4","name":"get distance","func":"\nif(msg.distance >= 0){\n    var data = msg.result_data[msg.data_length];\n    data = {\n        \"iddevice\" :data.iddevice,\n        \"device_name\" :data.device_name,\n        \"hospital_name\" :data.hospital_name,\n        \"quantity\" :data.quantity,\n        \"status\" :data.status,\n        \"cost\" :data.cost,\n        \"level\" :data.level,\n        \"location\" :data.location,\n        \"address\" :data.address,\n        \"distance\" :msg.distance\n    }\n    msg.result_data[msg.data_length] = data;\n    //msg.payload = JSON.stringify(msg.result_data[msg.data_length-2]);\n}\nmsg.data_length++;\nmsg.payload = msg.distance;\nreturn msg;","outputs":1,"noerr":0,"x":905.0002059936523,"y":1388.0002908706665,"wires":[["afd80157.59fc7","7a621ddb.d0ce54"]]},{"id":"5416a87.c8ba758","type":"http in","z":"4f475ac5.eefee4","name":"Listen to HTTP Post /notificationDevice","url":"/notificationDevice","method":"post","swaggerDoc":"","x":202.0000114440918,"y":1003.0001354217529,"wires":[["82c6b206.4eb52","17df4ed6.3ff631"]]},{"id":"82c6b206.4eb52","type":"xml","z":"4f475ac5.eefee4","name":"","attr":"","chr":"","x":125.00003433227539,"y":1071.000135421753,"wires":[["5f159412.eec36c"]]},{"id":"17df4ed6.3ff631","type":"http response","z":"4f475ac5.eefee4","name":"Notification Response","x":540.0000648498535,"y":1002.0001354217529,"wires":[]},{"id":"5f159412.eec36c","type":"function","z":"4f475ac5.eefee4","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nmsg.sclref = notification['om2m:subscriptionReference'][0];\nreturn msg;","outputs":1,"noerr":0,"x":307.0000343322754,"y":1071.000135421753,"wires":[["c017518d.08b1e"]]},{"id":"3a053b9a.61f084","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"payload","x":1092.0002212524414,"y":1071.0001678466797,"wires":[]},{"id":"ad4a3b33.dac708","type":"json","z":"4f475ac5.eefee4","name":"","x":624.0002899169922,"y":1071.0001735687256,"wires":[["41af5504.975a7c"]]},{"id":"41af5504.975a7c","type":"function","z":"4f475ac5.eefee4","name":"UPDATE","func":"var data = JSON.parse(msg.payload);\nvar idhospital = msg.sclref.split(\"/\")[0].split(\"gscl\")[1];\nvar device_name = data.obj.str[0].$.val.split(\"DEVICE_\")[1];\nvar quantity = data.obj.int[1].$.val;\nvar status = data.obj.int[2].$.val;\n\nmsg.topic = `UPDATE devices\nSET quantity = '`+quantity+`', status = '`+status+`'\nWHERE device_name = '`+device_name+`' AND idhospital = '`+idhospital+`';`;\n\n\nmsg.payload = `UPDATE devices\nSET quantity = '`+quantity+`', status = '`+status+`'\nWHERE device_name = '`+device_name+`' AND idhospital = '`+idhospital+`';`;\n\nreturn msg;","outputs":1,"noerr":0,"x":766.0002059936523,"y":1071.0001411437988,"wires":[["df30ba31.6fe228"]]},{"id":"c017518d.08b1e","type":"xml","z":"4f475ac5.eefee4","name":"","attr":"","chr":"","x":497.0000915527344,"y":1072.0001735687256,"wires":[["ad4a3b33.dac708"]]},{"id":"df30ba31.6fe228","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":923.000186920166,"y":1071.0001678466797,"wires":[["3a053b9a.61f084"]]},{"id":"9c116dcd.a9e77","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":282.0001449584961,"y":101.00000190734863,"wires":[["fcded2b7.461f6"]]},{"id":"fcded2b7.461f6","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":443.0001449584961,"y":101.00000190734863,"wires":[["31cf511d.d45c5e"]]},{"id":"92b66da2.db88d","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.0001449584961,"y":102.00000190734863,"wires":[["9c116dcd.a9e77"]]},{"id":"c29fb0f.fd4c75","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"payload","x":1008.0005435943604,"y":102.99995803833008,"wires":[]},{"id":"36a97afb.508aa6","type":"function","z":"4f475ac5.eefee4","name":"create_sensor","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications\";\n\nmsg.payload = `<om2m:application xmlns:om2m=\"http://uri.etsi.org/m2m\" appId=\"DEVICE_`+device_name+`\">\n   <om2m:searchStrings>\n      <om2m:searchString>Type/Sensor</om2m:searchString>\n      <om2m:searchString>Category/Device</om2m:searchString>\n      <om2m:searchString>Location/NCKU</om2m:searchString>\n   </om2m:searchStrings>\n   <om2m:announceTo><om2m:activated>true</om2m:activated><om2m:sclList><reference>nscl</reference></om2m:sclList></om2m:announceTo>\n</om2m:application>`;\n\nmsg.add++;\n\nreturn msg;","outputs":1,"noerr":0,"x":791.0005168914795,"y":160.99973392486572,"wires":[["51d86704.fa93d8","b022281c.391a58"]]},{"id":"b022281c.391a58","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":987.0001773834229,"y":161.9999074935913,"wires":[["c29fb0f.fd4c75"]]},{"id":"51d86704.fa93d8","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":775.0003032684326,"y":103.99992656707764,"wires":[["36a97afb.508aa6"],["c29fb0f.fd4c75"]]},{"id":"31cf511d.d45c5e","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":606.0001773834229,"y":101.99995708465576,"wires":[["51d86704.fa93d8"]]},{"id":"2fc13e4d.753442","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":280.0156307220459,"y":234.7500147819519,"wires":[["3a6ebe89.618872"]]},{"id":"3a6ebe89.618872","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":461.0156764984131,"y":235.75001764297485,"wires":[["4e457156.32ee7"]]},{"id":"4d1b5a75.ddf2c4","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.0156307220459,"y":235.7500147819519,"wires":[["2fc13e4d.753442"]]},{"id":"ec51d529.8ed4b8","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":794.0160427093506,"y":233.74997568130493,"wires":[["4f484155.8d807"],["7b4346c0.789958"]]},{"id":"4e457156.32ee7","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":627.0157070159912,"y":235.74996423721313,"wires":[["ec51d529.8ed4b8"]]},{"id":"4f484155.8d807","type":"function","z":"4f475ac5.eefee4","name":"create_DESCRIPTOR_container","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications/DEVICE_\"+device_name+\"/containers\";\n    \nmsg.payload = `<om2m:container xmlns:om2m=\"http://uri.etsi.org/m2m\" om2m:id=\"DESCRIPTOR\"></om2m:container>`;\n\nmsg.add++;\nreturn msg;","outputs":1,"noerr":0,"x":805.0157375335693,"y":303.7500214576721,"wires":[["6411b83c.d60aa8","ec51d529.8ed4b8"]]},{"id":"6411b83c.d60aa8","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1070.0161037445068,"y":300.7500138282776,"wires":[["7b4346c0.789958"]]},{"id":"7b4346c0.789958","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"false","x":1016.0160427093506,"y":236.75001764297485,"wires":[]},{"id":"b64706b5.a45038","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":279.2659320831299,"y":516.7500100135803,"wires":[["90f45e0c.d264c"]]},{"id":"90f45e0c.d264c","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":455.26598167419434,"y":517.7500138282776,"wires":[["e2048335.5fa69"]]},{"id":"2b7dfc93.555f94","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.26593589782715,"y":517.7500109672546,"wires":[["b64706b5.a45038"]]},{"id":"96946c0c.bbdd3","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":764.2664051055908,"y":516.7499794960022,"wires":[["f87848a0.da1e78"],["2ef64226.76ea6e"]]},{"id":"e2048335.5fa69","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":621.2660121917725,"y":517.7499604225159,"wires":[["96946c0c.bbdd3"]]},{"id":"f87848a0.da1e78","type":"function","z":"4f475ac5.eefee4","name":"create_DATA_container","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications/DEVICE_\"+device_name+\"/containers\";\n\nmsg.payload = `<om2m:container xmlns:om2m=\"http://uri.etsi.org/m2m\" om2m:id=\"DATA\">\n<om2m:announceTo><om2m:activated>true</om2m:activated><om2m:sclList><reference>nscl</reference></om2m:sclList></om2m:announceTo>\n</om2m:container>`;\n\nmsg.add++;\nreturn msg;","outputs":1,"noerr":0,"x":793.2659206390381,"y":587.7500033378601,"wires":[["3d8debcc.7e4044","96946c0c.bbdd3"]]},{"id":"3d8debcc.7e4044","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1023.2661304473877,"y":586.7500557899475,"wires":[["2ef64226.76ea6e"]]},{"id":"2ef64226.76ea6e","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"false","x":1009.2660427093506,"y":515.7500100135803,"wires":[]},{"id":"552751fc.fa0b8","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":284.51584815979004,"y":377.7500319480896,"wires":[["fab259ec.a90f38"]]},{"id":"fab259ec.a90f38","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":460.5158977508545,"y":378.75003576278687,"wires":[["c7656fe3.d1846"]]},{"id":"124c34ea.c9d9eb","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.5158519744873,"y":378.7500329017639,"wires":[["552751fc.fa0b8"]]},{"id":"6432f1a7.24ecb","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":769.516321182251,"y":377.7500014305115,"wires":[["33cc97a7.f3df68"],["a736b4ac.145a68"]]},{"id":"c7656fe3.d1846","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":626.5159282684326,"y":378.74998235702515,"wires":[["6432f1a7.24ecb"]]},{"id":"33cc97a7.f3df68","type":"function","z":"4f475ac5.eefee4","name":"create_description_contentInstance","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications/DEVICE_\"+device_name+\"/containers/DESCRIPTOR/contentInstances\";\n\nmsg.payload = `<obj>\n     <str name=\"type\" val=\"Sensor\"/>\n     <str name=\"location\" val=\"NCKU\"/>\n     <str name=\"appId\" val=\"DEVICE_`+device_name+`\"/>\n     <op name=\"getValue\" href=\"gscl`+idhospital+`/applications/DEVICE_`+device_name+`/containers/DATA/contentInstances/latest/content\" \n         in=\"obix:Nil\" out=\"obix:Nil\" is=\"retrieve\"/>\n</obj>`;\n\nmsg.add++;\nreturn msg;","outputs":1,"noerr":0,"x":838.5158367156982,"y":448.7500252723694,"wires":[["f0dec7b.1227338","6432f1a7.24ecb"]]},{"id":"f0dec7b.1227338","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1123.5163135528564,"y":444.75016927719116,"wires":[["a736b4ac.145a68"]]},{"id":"a736b4ac.145a68","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"false","x":1014.5159587860107,"y":376.7500319480896,"wires":[]},{"id":"d1122461.03b6b8","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":290.26576042175293,"y":649.7500652074814,"wires":[["587f038.72475fc"]]},{"id":"587f038.72475fc","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":466.2658100128174,"y":650.7500690221786,"wires":[["f03a6c51.5450c"]]},{"id":"2c7385b.344167a","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.2657642364502,"y":650.7500661611557,"wires":[["d1122461.03b6b8"]]},{"id":"de3f2438.85f498","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":789.2662563323975,"y":654.7501205205917,"wires":[["edd9264b.490ce8"],["9b73e278.0c00f"]]},{"id":"f03a6c51.5450c","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":632.2658405303955,"y":650.7500156164169,"wires":[["de3f2438.85f498"]]},{"id":"edd9264b.490ce8","type":"function","z":"4f475ac5.eefee4","name":"create_data_contentInstance","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\nvar quantity = msg.data[i].quantity;\nvar status = msg.data[i].status;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications/DEVICE_\"+device_name+\"/containers/DATA/contentInstances\";\n\nmsg.payload = `<obj>\n     <str name=\"appId\" val=\"DEVICE_`+device_name+`\"/>\n     <str name=\"category\" val=\"Device\"/>\n     <int name=\"unit\" val=\"int\"/>\n     <int name=\"quantity\" val=\"`+quantity+`\"/>\n     <int name=\"status\" val=\"`+status+`\"/>\n</obj>`;\n\nmsg.add++;\n\nreturn msg;","outputs":1,"noerr":0,"x":846.7660121917725,"y":711.750121474266,"wires":[["47c62935.b694f8","de3f2438.85f498"]]},{"id":"47c62935.b694f8","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1084.7660121917725,"y":711.750121474266,"wires":[["9b73e278.0c00f"]]},{"id":"9b73e278.0c00f","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"false","x":1069.7662868499756,"y":654.7502417564392,"wires":[]},{"id":"d61cc0f4.c13c6","type":"function","z":"4f475ac5.eefee4","name":"SELECT *","func":"msg.topic=\"SELECT * FROM devices;\";\nreturn msg;","outputs":1,"noerr":0,"x":286.01579093933105,"y":784.750066280365,"wires":[["9b18a63a.786578"]]},{"id":"9b18a63a.786578","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":462.0158405303955,"y":785.7500700950623,"wires":[["100a57e5.c534c8"]]},{"id":"e27da9ac.4b60e8","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.01579475402832,"y":785.7500672340393,"wires":[["d61cc0f4.c13c6"]]},{"id":"dac1c2d7.1c924","type":"switch","z":"4f475ac5.eefee4","name":"msg.len","property":"add","propertyType":"msg","rules":[{"t":"lt","v":"len","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":780.0163478851318,"y":784.7501826286316,"wires":[["4466c6ff.2026b8"],["aa47a865.2a35a8"]]},{"id":"100a57e5.c534c8","type":"function","z":"4f475ac5.eefee4","name":"msg.len i","func":"msg.data = msg.payload;\nmsg.len = msg.payload.length;\nmsg.add = 0;\nreturn msg;","outputs":1,"noerr":0,"x":628.0158710479736,"y":785.7500166893005,"wires":[["dac1c2d7.1c924"]]},{"id":"e729325a.47b69","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1108.7658672332764,"y":869.7501521110535,"wires":[["aa47a865.2a35a8"]]},{"id":"aa47a865.2a35a8","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"false","x":1072.7658977508545,"y":784.7501816749573,"wires":[]},{"id":"4466c6ff.2026b8","type":"function","z":"4f475ac5.eefee4","name":"Subscribe to DEVICE data","func":"var i = msg.add;\nvar device_name = msg.data[i].device_name;\nvar idhospital = msg.data[i].idhospital;\n\nmsg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/gscl\"+idhospital+\"/applications/DEVICE_\"+device_name+\"/containers/DATA/contentInstances/subscriptions\";\n\nmsg.payload = `\t\n<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">\n    <om2m:filterCriteria><ifMatch>content</ifMatch></om2m:filterCriteria>\n    <om2m:contact>nscl/applications/DEVICE_NA/notificationDevice</om2m:contact>\n</om2m:subscription>`;\n\n\nmsg.add++;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":890.7656993865967,"y":872.7500605583191,"wires":[["e729325a.47b69","dac1c2d7.1c924"]]},{"id":"55a3ed39.812554","type":"function","z":"4f475ac5.eefee4","name":"<100%","func":"var s1 = msg.symptom;\nvar max_sim = 0;\nvar match_i = 0;\n\nfor(var k = 0; k < msg.payload.length; k++ ){\n    var s2 = msg.payload[k].symptom;\n    var z = 0;\n    var s = s1.length + s2.length;\n    for(var i=0; i < s1.length; i++){\n        for(var j=0; j < s2.length; j++){\n            if(s1[i] == s2[j]){\n                z++; s--;\n            }\n        }\n    }\n\n    var sim = z/s * 100;\n    if(sim > max_sim){\n        max_sim = sim;\n        match_i = k;\n    }\n}\n\nmsg.disease_name = msg.payload[match_i].disease_name;\nmsg.device_name = msg.payload[match_i].device_name;\nmsg.similartity = max_sim.toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":317.8957977294922,"y":1386.0000495910645,"wires":[["e975574f.6efe18"]]},{"id":"e5908eef.9a6a5","type":"function","z":"4f475ac5.eefee4","name":"similarly case","func":"var str =\"\";\n\nfor(var i = 0; i < msg.symptom.length; i++){\n    str += `WHEN symptom LIKE \"%`+msg.symptom[i]+`%\" THEN `+(i+1)+`\\n`;\n}\n\nmsg.topic =\n`Select * FROM disease \nORDER BY CASE\n   `+str+`\nEND LIMIT 5`;\n\n\n/*msg.payload = `Select * FROM disease \nORDER BY CASE\n    `+str+`\nEND LIMIT 5`;*/\nreturn msg;","outputs":1,"noerr":0,"x":151.88522720336914,"y":1332.9896059036255,"wires":[["26eb586a.95e238"]]},{"id":"26eb586a.95e238","type":"mysql","z":"4f475ac5.eefee4","mydb":"46f5526f.73e91c","name":"DB e-medical","x":169.95469665527344,"y":1383.8192491531372,"wires":[["55a3ed39.812554"]]},{"id":"e975574f.6efe18","type":"function","z":"4f475ac5.eefee4","name":"prefer order","func":"if(msg.prefer == \"cost\"){\nmsg.topic=`SELECT devices.*, hospitals.*\n    FROM devices\n    INNER JOIN hospitals ON devices.idhospital = hospitals.idhospital\n    WHERE device_name =\"`+msg.device_name+`\" \n    AND status = 1\n    ORDER BY cost`;\n}\nelse{\n   msg.topic=`SELECT devices.*, hospitals.*\n    FROM devices\n    INNER JOIN hospitals ON devices.idhospital = hospitals.idhospital\n    WHERE device_name =\"`+msg.device_name+`\" \n    AND status = 1\n    ORDER BY level DESC`; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420.82640838623047,"y":1270.7258472442627,"wires":[["b1526cf3.bc5a1"]]},{"id":"dec2c1f6.34a81","type":"inject","z":"4f475ac5.eefee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.8958282470703,"y":939.2222290039062,"wires":[["16b9eaf5.214bc5"]]},{"id":"16b9eaf5.214bc5","type":"function","z":"4f475ac5.eefee4","name":"create_sensor","func":"msg.headers = {\n    \"Authorization\": \"Basic YWRtaW46YWRtaW4=\",\n    \"content-type\": \"application/xml;ty=4\",\n}\n\nmsg.url = \"http://127.0.0.1:8080/om2m/nscl/applications\";\n\nmsg.payload = `<om2m:application xmlns:om2m=\"http://uri.etsi.org/m2m\" appId=\"DEVICE_NA\">\n    <om2m:aPoCPaths>\n         <om2m:aPoCPath>\n            <om2m:path>http://127.0.0.1:1880</om2m:path>\n        </om2m:aPoCPath>\n    </om2m:aPoCPaths>\n</om2m:application>`;\nreturn msg;","outputs":1,"noerr":0,"x":319.8958282470703,"y":939.2222290039062,"wires":[["9d9cb66.d274048"]]},{"id":"9d9cb66.d274048","type":"http request","z":"4f475ac5.eefee4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":507.8958206176758,"y":941.2222509384155,"wires":[["18c27151.c76f3f"]]},{"id":"18c27151.c76f3f","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"payload","x":679.8958206176758,"y":941.2222509384155,"wires":[]},{"id":"665f1990.ff78d8","type":"debug","z":"4f475ac5.eefee4","name":"","active":true,"console":"false","complete":"origin","x":880,"y":1332.0000267028809,"wires":[]},{"id":"46f5526f.73e91c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3308","db":"e-medical","tz":""}]